<ul class="navBarrr">
  <div class="list">
    <li class="list-nav" routerLinkActive="nav__item--active">
      <a class="nav" routerLink="/patientdetails/{{patientID}}">Details</a>
    </li>

    <li class="list-nav" routerLinkActive="nav__item--active">
      <a class="nav" routerLink="/vitals/{{appoitmentID}}" routerLinkActive="side-nav__item--active">Vitals</a>
    </li>
    <li class="list-nav" routerLinkActive="nav__item--active">
      <a class="nav" routerLink="/emr/{{appoitmentID}}" routerLinkActive="side-nav__item--active">Emr</a>
    </li>

  </div>
</ul>