.Content{   
    /* background-image: url('../../../assets/images/homeCover2.jpg'); */
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    position: relative;
    background-color: #E5E5E5;
    /* background-color: red; */
  }
  
  
  .container{
    background-color: white;
    /* padding: 10rem 20rem; */
    /* border-radius: 20; */
    width: 95%;
    min-height: 90vh;
    margin: 32px; 
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 20px rgb(33 33 33 / 10%);
    /* position: relative; */
  
  }

 h2 {
    font-size: 2rem;
    align-self: center;
    letter-spacing: 2px;
    margin-top: 24px;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.5rem;
    align-self: center;
    letter-spacing: 2px;
}


.popUpEditPatient{
    background-color: white;
    position: absolute;
    width: 800px;
    height: 600px;
    /* width: 100%;
    height: 50%; */
    border-radius: 14px;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s all;
    transform: translate(-50%,-50%) scale(0.9)  ;
    /* transform:; */
}


.confirmMsg{
    background-color: white;
    position: absolute;
    width: 800px;
    height: 600px;
    /* width: 100%;
    height: 50%; */
    border-radius: 14px;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    transform: translate(-50%,-50%) scale(0.9)  ;
    /* transform:; */
}

.SuccessMsg{
    padding: 40px;
}

.popUpCloseAddPatient{
    /* width: 800px;
    height: 500px; */
    transform: translate(-50%,-50%) scale(1)  ;
    transition: 0.3s all;
}

.displayNoneAddPatient{
    display: none;
    /* visibility: hidden;
    opacity: 0; */
}

.enterAnimation{
    /* transition:  0.4s all; */
    /* transition:  0.4s translate,  visibility 5s; */
    /* transform: translateX(10px); */
}


.popUpLayerEditPatient{
    background-color: rgb(0, 0, 0,0.4);
    opacity: 0;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 999;
    /* display: none; */
    visibility: hidden;
    transition: 0.4s all;
}
.visible{
    opacity: 1;
    background-color: rgb(0, 0, 0,0.4);
    visibility: visible;
    transition: 0.4s all;
}

.exitEditPatient{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 12px;
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    transition: 0.4s all;
    cursor: pointer;
    border-radius: 14px;
}

.delete{
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 12px;
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    transition: 0.4s all;
    cursor: pointer;
    border-radius: 14px;
}


.deleteDocument{

    padding: 18px;
    background-color: red;
    display: flex;
    align-items: center;
    color: white;
    transition: 0.4s all;
    cursor: pointer;
    border-radius: 14px;
    opacity: 0;
}

.printDocument{
    padding: 18px;
    background-color: #36B2DD;
    display: flex;
    align-items: center;
    color: white;
    transition: 0.4s all;
    cursor: pointer;
    border-radius: 14px;
    opacity: 0;
}

.previousAddPatient{
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 12px;
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    transition: 0.4s all;
    cursor: pointer;
    border-radius: 14px;
    /* transform: rotateZ(-90deg); */
} 

.exitEditPatient:hover {
    background-color: #FFC600;
}

.delete:hover{
    background-color: red;
}

.vertical-menu-opened ,.vertical-menu-opened-vitals {
    /* height: 200px; */
    height: 50px;
    overflow-y: auto;
    transition: 0.4s all;
    position: absolute;
    left: 0;
    right: 0;
    border-radius:14px ;
   
}

.vertical-menu-opened a ,.vertical-menu-opened-vitals a{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s all;
    font-size: 14px; 
    cursor: pointer;
}
.vertical-menu-opened a:hover,.vertical-menu-opened-vitals a:hover{ 
    background: #FDF2DB; 
    /* color: red; */
}



.vertical-menu-opened-times{
    /* height: 200px; */
    height: 200px;
    overflow-y: auto;
    transition: 0.4s all;
    position: absolute;
    left: 0;
    right: 0;
    border-radius:14px ;
   
}

.vertical-menu-opened-times a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s all;
    font-size: 14px; 
    cursor: pointer;
}
.vertical-menu-opened-times a:hover{
    background: #FDF2DB; 
    /* color: red; */
}

  
.vertical-menu-closed{
    height: 0px;
    /* overflow-y: auto; */
    transition: 0.4s all;
}
.PatientDetailsForm ,.AppointmentDetailsForm{
    height: 100%   ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}





  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FDF2DB; 
    border-radius: 14px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFC600; 
    border-radius: 14px;
  }

 
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #cc9e00; 
  } */


.input{
    outline: none;
    font-family: fontMedium;
    border: 2px solid rgba(0, 0, 0, 0.2);
    height: 44px;
    padding: 10px ;
    width: 100%;
    border-radius: 14px;
    font-size: 14px;
    transition: 0.4s all;
    text-align: center;
    box-sizing: border-box;
   
    
}




.input:focus ,.inputDropDown:focus {
    border-color: rgba(0, 0, 0, 0.5);
}

.disabled{
    pointer-events: none;
}
.dropDownContainer{
    position: relative;

}
.openIcon{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 14px;
    border-color: transparent;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: red; */
    width: 45%;
  
     
}

.wrapper span{
    padding-left: 12px;
}


.btnSubmitEditPatient { 
    background-color: black;
    border: solid black 2px;
    border-radius: 40px;
    /* width: 100%; */
    transition: 0.4s all;
    color: white;
    cursor: pointer;
    transition: 0.4s all;
    font-size:1.2rem;
    padding: 6px 30px ;
    font-family: fontMedium;
    align-self: center;
    /* padding: 0.7rem 3rem ; */
}
.btnSubmitEditPatient:hover {
    border: solid #FFC600 2px;
    background-color:#FFC600 ;
}

.btnSubmitEditPatient:disabled{
    cursor: not-allowed  ;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid rgba(0, 0, 0, 0.1) 2px;
}
/* .btnSubmitDisabled:hover{
    border: solid black 2px;
    background-color:#FFC600 ;
} */

.NotFound{
    position: relative;
    /* display: none; */

}
.NotFoundButton{
    position: absolute;
    right: 0;
    top: 10%;
    bottom: 10%;
    font-size:0.9rem;
    padding: 4px 16px ;
}


.buttonContainer{
    display: flex;
    /* background-color: red; */
    width: 40%;
    justify-content: space-around;
}
.PatientDetials{
    /* background-color: red; */
}

/* .displayBlock{
    display: none;
} */


html {
    box-sizing: border-box;
    font-size: 62.5%;
  }


.blackLayer{
    
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form{
    background-color: white;
    /* padding: 10rem 20rem; */
    /* border-radius: 20; */
    width: 50%;
    height: 60%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}
.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: #FFC600; */
    height: 80%;
   
    justify-content: center;
    /* align-items: stretch; */
    flex-wrap: wrap;
    justify-content: space-around;

}

.form h2 {
    /* flex-grow: 1; */
    /* flex-grow: 1; */
    font-size: 2rem;
    /* background-color: beige; */
    /* letter-spacing: 1rem; */
    align-self: center;
    letter-spacing: 2px;
}



.input:focus{
    border-color: rgba(0, 0, 0, 0.5);
}

.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper span{
    padding-left: 12px;
}

/* .btnSubmit{
    margin: 10px;
}
 */

.btnSubmit { 
    background-color: black;
    border: solid black 2px;
    border-radius: 40px;
    /* width: 100%; */
    transition: 0.4s all;
    color: white;
    cursor: pointer;
    transition: 0.4s all;
    font-size:1.2rem;
    padding: 6px 30px ;
    font-family: fontMedium;
    /* padding: 0.7rem 3rem ; */
  }

  .btnSubmit:hover {
    /* color: white; */
    border: solid #FFC600 2px;
    background-color:#FFC600 ;
    /* color: green; */
    
  }

  .error{
    position: absolute;
    opacity:0;
    left: 0;
    top: 50%;
    color: red;
    transition: 0.4s all;
  }


  .errorAdded{
    position: absolute;
    opacity:1;
    left: 0;
    top: 70%;   
    color: red;
    transition: 0.4s all;
  }


  /* by default this class */
  .invalid{
    position: absolute;
    opacity:0;
    top: 80%;
    color: red;
    transition: 0.4s all;
  }

  /* will toggle on this class ADD OR REMOVE */
  .invalidAdded{ 
    position: absolute;
    opacity:1;
    top: 100%;
    color: red;
    transition: 0.4s all;
    left: -50%;
    right: -50%;
    text-align: center
  }
  .publicErrorWrapper{
    position:relative; 
    display: flex; 
    justify-content: center;
    /* bottom: 10%; */
  }

  .ParentBirthDate{
    position: relative;
  }
  .iconDate{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
  }

mat-datepicker-toggle {
    color: black !important;
}
/* mat-datepicker{
    color: red !important;
} */

.mat-calendar-body-cell-content.mat-focus-indicator:hover{
    color: orange !important;
}

.AllHeaders{
    /* background-color: orange; */
    height: 90%;
    width: 90%;
    /* display: flex; */
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-family: fontMedium;
    /* align-items: stretch; */
    overflow: hidden;
    
    /* justify-content: center; */
    
}
.mat-tab-group{
    font-family: fontMedium;
}

::ng-deep .mat-tab-label {
    font-family: fontMedium !important;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
}

::ng-deep .mat-tab-body-wrapper{
    height: 100% !important;
}

::ng-deep .mat-ink-bar{
    background-color: #FFC600 !important;
}

::ng-deep .mat-calendar-body-selected{
    background-color: #FFC600;
}

::ng-deep mat-datepicker-content{
    /* background-color: red; */
    border-radius: 14px !important;
}
::ng-deep .mat-focus-indicator{
    transition: 0.4s all;
}


::ng-deep .mat-calendar-body-cell-content:hover {
    background-color: #ffc8004b !important;
}


input[type="file"] {
    height: 100%;
    opacity: 0;
    cursor: pointer;
    position: relative;
}
.custom-file-upload {
    border: 2px #FFC600 dashed;
    padding: 6px;
    cursor: pointer;
    border-radius: 14px;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.postion{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }




.fileCard {
    /* border: 2px #FFC600 solid dashed; */
    border-radius: 14px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    outline: none;
    margin: 6px;
    /* border: 2px solid rgba(0, 0, 0, 0.2); */
    width: 30%;
    height: 110px;
    font-size: 14px;
    transition: 0.4s all;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(33 33 33 / 20%);
}

.printDocument:hover, .deleteDocument:hover{
    box-shadow: 0 0 20px rgb(33 33 33 / 40%);
    transform: translateY(-8px);
  
}


.hoverLayer{
    /* border: 2px solid #FFC600; */
    border-radius: 14px;
    position: absolute;
    background-color: rgba(255, 198, 0,0.4);
    bottom: -5px;
    top:100%;
    left: -5px;
    right: -5px;
    transition: 0.4s all;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
}
.fileCard:hover .hoverLayer{
    top:-5px;
    /* filter: blur(2px); */
}

.fileCard:hover .printDocument, .fileCard:hover .deleteDocument{
    opacity:1;
    /* filter: blur(2px); */
}


.contentUplaod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s all;
    height: 100%;
}

.printDocument{
    
}

.fileCard:hover .contentUplaod{
    filter: blur(2px);
}


.EMRcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 60%;
    /* background-color: antiquewhite; */
}

.currentFiles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: antiquewhite; */
    width: 100%;
    /* margin: auto; */
}

.uploadText{
    letter-spacing: 2px;
    font-size: 24px;
}

.AlluploadedText{
    letter-spacing: 2px;
    font-size: 24px;
    margin: 6px;
}

.noUploadText{
    /* letter-spacing: 2px; */
    /* font-size: 24px; */
    margin: 2px;
    color: rgba(255, 0, 0, 0.6);
}
.warningText{
    /* letter-spacing: 2px;
    font-size: 24px; */
    color: rgba(255, 0, 0, 0.6);
    margin-bottom: 6px;
}

:host ::ng-deep .OverElements circle {
    stroke: #FFC600;
  }





.OverElements{
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* filter: blur(4px); */
    background-color: rgb(0, 0, 0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.NoFiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.disableDelete{
    pointer-events:none;
    cursor: not-allowed;
}


  
.cantUpload {
cursor:  not-allowed;
}
  


.AllApointmentsText {
    /* letter-spacing: 2px; */
    font-size: 2rem;
    margin: 6px;
    color: black;
    padding: 32px;
  }
