<div *ngIf="isLoading" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="!isLoading">
  <h2>Edit Consultation Duration</h2>

  <div class="startTime">
    <span class="DateText">Current Consultation Duration</span>
    <svg width="50" height="50" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
      stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 2a10 10 0 1 0 0 20 10 10 0 1 0 0-20z"></path>
      <path d="M12 6v6l4 2"></path>
    </svg>
    <span class="TimeText">{{this.mins}} min</span>
  </div>
  <form [formGroup]="cosultaionForm" (ngSubmit)="setDuration()">
    <select formControlName="time" class="select-time">
      <option value="" disabled selected>Select your Duration</option>
      <option value="30">30 Minutes</option>
      <option value="60">60 Minutes</option>
    </select>
    <br />
    <span *ngIf="
      cosultaionForm.controls['time'].hasError('required') &&
        cosultaionForm.controls['time'].touched
      " class="error">Consultation Duration is required</span>
    <br />
    <span *ngIf="
      cosultaionForm.controls['time'].hasError('min') &&
        cosultaionForm.controls['time'].touched
      " class="error">Consultation Duration minumum 20 min</span>

    <br />
    <button [disabled]="cosultaionForm.invalid" class="btn">Save Duration</button>
    <h3 class="mess" *ngIf="res">{{res.message}}</h3>
  </form>
</div>