.cont-form {
    width: 100%;
    text-align: center;
    position: relative;
}

.svg-exit {
    width: 4%;
    position: absolute;
    top: -33px;
    right: -14px;
    cursor: pointer;
}

.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

select {
    width: 95%;
}

input {
    width: 90%;

}

.input-cont {
    width: 50%;
    margin-bottom: 10px;
}

input,
select {
    padding: 15px;
    font-size: 16px;
    padding: 15px;
    border: 1px double #0000004d;
    outline: none;
}

.btn-form {
    margin-top: 25px;
    width: 40%;
    padding: 12px;
    /* border: navajowhite; */
    border: none;
    background-color: black;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    transition: 0.4s all;
    cursor: pointer;

}

.btn-form:hover {
    background-color: #ffbb55;

}